@import "./global.sass"

.citycard
  width: 350px
  max-width: 80%
  min-height: 200px
  background-color: $cardBackground
  border: 1px solid #efefef
  padding: 8px
  margin: 8px
  border-radius: 4px

  &.reference
    background-color: $referenceBackground

  .growWidth
    flex: 1

  input[type="text"]
    background: $inputBackground
    font: 400 1em Roboto
