@import url('https://fonts.googleapis.com/css?family=Lato|Roboto')

$darkBlue: #1565c0
$clearBlue: #2196f3
$cardBackground: #f8f8f8
$addCardButtonFontColor: #00000020
$referenceBackground: #ddd
$inputBackground: #fff6

body
  font-family: Roboto
  padding: 0
  margin: 0

.flex
  display: flex
  justify-content: center
  align-items: center

.marginRight
  margin-right: 8px

.withPadding
  padding: 8px

.withMargin
  margin: 8px
