@import url('https://fonts.googleapis.com/css?family=Lato|Roboto')

body
  font-family: Roboto
  padding: 0
  margin: 0

.flex
  display: flex
  justify-content: center
  align-items: center

.marginRight
  margin-right: 8px

.withPadding
  padding: 8px

.withMargin
  margin: 8px

input[type="text"]
  font: 400 1em Roboto
  margin-left: 4px
  border: none