@import "../../res/styles/global.sass"

.title
  align-items: center
  background: $darkBlue
  background: -moz-linear-gradient(top, $darkBlue 0%, $clearBlue 100%)
  background: -webkit-linear-gradient(top, $darkBlue 0%,$clearBlue 100%)
  background: linear-gradient(to bottom, $darkBlue 0%,$clearBlue 100%)
  color: white
  display: flex
  flex-direction: column
  font-family: 'Lato', sans-serif
  justify-content: space-around
  margin-bottom: 16px
  padding: 8px 0

  h1
    letter-spacing: 4px
    margin-bottom: 0
  
  p
    font-size: 1.15em
    font-weight: 200
    margin: 0 0 32px
